$primary-background: rgb(51,51,51);
$secondary-background: rgba(253, 204, 5, 1);
$primary-text: white;
$secondary-text: black;

$primary-transition: all ease-in-out .2s;
$primary-margin: 24px;
$primary-padding: 8px;
$primary-width: 600px;
$primary-radius: 6px;