$bg-primary: rgb(22,22,22);
$bg-secondary: rgb(34,34,34);
$btn-primary: rgb(64, 139, 255);
$gray: rgba(255, 255, 255, 0.3);

$primary-margin: 24px;
$primary-padding: 8px;
$primary-width: 600px;
$primary-radius: 6px;