@import "../../../assets/variables.scss";

.job-item-container {
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &.applied {
    background-color: $primary-background;
    color: white;
  }
}


.job-item {
  position: relative;
  display: flex;
  text-align: left;

  p {
    margin-bottom: unset;
  }

  .icon {
    color: $hot-background;
    margin-left: 8px;
  }

  .salary-location {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 550px) {
    font-size: 12px;

    .salary-location {
      top: 90%;
      left: 65%;
    }
  }
}

.flex-box-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.my-jobs-container {
  padding: 20px;
  width: 750px;
}

