.landing-page-container {
  flex: 1;
  // background-color: rgb(247,245,247);
  color: rgb(46,45,47);
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  // z-index: -1;
}

.job-search-container {
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}