.profile-set-up-container {
  flex: 1;
  color: rgb(46,45,47);
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  // z-index: -1;
}

.control.invalid input {
  border-bottom: 5px solid crimson;
}
